@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;600&family=Source+Code+Pro&Noto+Sans+TC:wght@600&display=swap');

:root {
  --color-lightest: #fcfcfc;
  --color-light: #d8dbe2;
  --color-dark: #1b1b1e;
  --color-special: #58a4b0;
  --fadein-animate-time: 0.5s;
  --hover-animate-time: 0.8s;
  --font-weight-light: 300;
  --font-weight-medium: 600;
  --font-weight-bold: 600;
  --header-height: 6em;
}

@media (max-width: 700px) {
  :root {
    --header-height: 5em;
  }
}

html[theme='dark-mode'] {
  filter: invert(1) hue-rotate(180deg);
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: var(--color-light);
}


body {
  line-height: 1;

  font-size: 1em;
  font-weight: var(--font-weight-light);
  font-family: 'Noto Serif TC', serif;

  color: var(--color-dark);
  line-height: 1.75;
  letter-spacing: 0.008em;
}


@keyframes fadein {
  from {
    transform: translateY(30%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

li {
  margin-left: 2em;
  padding-left: 0.5em;
}

a {
  text-decoration: none;
  color: var(--color-special);
  cursor: pointer;
  transition-duration: var(--hover-animate-time);
}

a:hover {
  filter: brightness(80%);
}

/* markdown content styles */
blockquote {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1em;
  margin-left: 0px;
  border-left: 3px solid var(--color-lightest);
  color: var(--color-dark);
}

hr {
  display: block;
  border: none;
  height: 2px;
  margin: 40px auto;
  background: var(--color-lightest);
}

.date {
  font-family: 'Source Code Pro', 'Noto Sans TC', Courier, monospace;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  line-height: 1.5em;
}

th,
td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

thead th,
th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 1em;
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  cursor: default;
  white-space: nowrap;
  border: 1px solid var(--color-lightest);
}

tr>td {
  border: 1px solid var(--color-lightest);
}

/* Remove the top border for the first row in thead */
table thead tr:first-child th {
  border-top: none;
}

/* Remove the bottom border for the last row in thead */
table thead tr:last-child th {
  border-bottom: none;
}

/* Remove the left border for the first column */
table tr th:first-child,
table tr td:first-child {
  border-left: none;
}

/* Remove the right border for the last column */
table tr th:last-child,
table tr td:last-child {
  border-right: none;
}

/* Remove the bottom border for the last row in the table */
table tr:last-child td {
  border-bottom: none;
}

.title {
  font-size: 2em;
}

h1 {
  font-size: 2em;
}

.title,
h1,
h2,
h3 {
  font-family: 'Noto Serif TC', serif;
  font-weight: var(--font-weight-bold);
}

p {
  letter-spacing: 0.05em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

p,
pre {
  word-break: normal;
  overflow-wrap: anywhere;
}

.markdown-image {
  text-align: center;
  margin: 0;
  /* Remove any default margin */
  padding: 0;
  /* Remove any default padding */
}

.markdown-image img {
  display: inline-block;
  max-width: 70%;
  height: auto;
}

.anchor {
  font-size: 100%;
  visibility: hidden;
  color: var(--color-light);
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible
}

.highlight pre {
  padding: 1em 1.5em;
  overflow-x: auto;
  font-size: 0.8em;
  line-height: 1.2em;
}

.highlight {
  max-width: 100%;
  overflow-x: auto;
}

p code {
  font-family: 'Source Code Pro', 'Noto Sans TC', Courier, monospace;
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: inherit;
  word-wrap: break-word;
  text-indent: 0;
}

pre code {
  font-family: 'Source Code Pro', 'Noto Sans TC', Courier, monospace;
}



/* navigation */

nav.navigation {
  display: flex;
  padding: 0;
  text-align: right;
  font-family: 'Source Code Pro', 'Noto Sans TC', Courier, monospace;
  z-index: 100;
  justify-content: space-between;
}

nav.navigation a {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
  color: var(--color-light);
  font-size: 1em;
  line-height: 1.35;
  border-radius: 3px;
}

nav.navigation a:hover {
  color: var(--color-special);
}

nav.navigation a.button {
  background: var(--color-special);
  color: #fff;
  margin-left: 12px;
}

@media (max-width: 700px) {
  nav.navigation a {
    font-size: 0.8em;
    padding: 1em 0.5em;
  }
}

@media (max-width: 324px) {
  nav.navigation a.button {
    display: none;
  }
}

/* profile  */

.profile {
  z-index: 10;
  width: 100%;
  height: var(--header-height);
  display: flex;
  position: fixed;

  align-items: flex-end;
  background-color: var(--color-dark);
  justify-content: center;
  /* transition: transform 1s ease-in-out; */
}

.nav-down {
  transition: var(--fadein-animate-time);
  top: calc(-1 * var(--header-height) - 1em);
}

.nav-up {
  transition: var(--fadein-animate-time);
  top: 0em;
}

.profile .inner {
  width: 80%;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--color-dark);
}

.avatar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
}

.avatar {
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 1em 0em;
}

.profile h1 {
  font-weight: var(--font-weight-bold);
  letter-spacing: 0px;
  color: var(--color-dark);
  margin-bottom: 0;
  margin-top: 0;
}

.profile h2 {
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  margin-top: 0;
}

/* main content */
.main {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.spacer {
  top: 0;
  height: var(--header-height);
  /* Adjust this value based on the height of your header */
}

/* index post list */
#list-page {
  width: 80%;
  flex-grow: 1;
  margin: 0;
  padding-top: 3%;
  animation: fadein var(--fadein-animate-time);
}

/* #list-page .item {
  margin: 0;
} */

#list-page .title {
  display: inline-block;
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  margin: 0;
  width: 80%;
}

#list-page .title a {
  color: var(--color-dark);
  display: block;
}

#list-page .title a:hover {
  color: var(--color-special);
}

#list-page .date {
  width: 20%;
  float: right;
  text-align: right;
  position: relative;
  top: 1px;
  color: var(--color-dark);
}

#list-page .summary {
  margin-top: 12px;
  word-break: normal;
  overflow-wrap: anywhere;
  margin-bottom: 36px;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.05em;
}

#list-page .cover {
  width: 100px;
  height: 100px;
  background: var(--color-light);
}

#list-page .cover img {
  width: 100%;
  text-align: center;
}

#list-page .pagination {
  margin: 48px 0;
  width: 100%;
  height: 32px;
  margin-top: 48px;
}

#list-page .pagination .pre {
  float: left;
}

#list-page .pagination .next {
  float: right;
}


/* toc */
.toc {
  margin: auto;
  background: var(--color-lightest);
  border-radius: 0;
  padding: 10px 7px;
  margin-top: 36px;
}

.toc details summary {
  cursor: zoom-in;
  margin-inline-start: 14px;
  font-weight: var(--font-weight-light);
}

.toc details[open] summary {
  cursor: zoom-out;
}

.toc #TableOfContents {
  margin-left: 10px;
}

.toc ul {
  padding-inline-start: 24px;
}

/* comment */
#comment {
  margin-top: 64px;
}

/* footer */
#footer {
  font-family: 'Source Code Pro', 'Noto Sans TC', Courier, monospace;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: var(--color-dark);
  font-size: 14px;
}

#footer .copyright {
  margin: 20px auto;
  font-size: 15px;
}

.powerby {
  margin: 20px auto;
  font-size: 13px;
}

#footer .split {
  cursor: pointer;
}

#footer .split:hover path {
  fill: #ff3356;
  transition: 0.7s ease-out;
  cursor: pointer;
}

#social a {
  margin: 0 4px;
}


/* single page */
#single {
  max-width: 80%;
  flex-grow: 1;
  margin: 0;
  padding-top: 3%;
}

#single .title {
  text-align: center;
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  line-height: 48px;
}

/* @media (max-width: 700px) {
  #single {
    padding: 0 18px;
    margin: 20px auto 0 auto;
  }
  #single .title {
    font-size: 24px;
    line-height: 32px;
  }
} */

.tags a {
  font-size: 14px;
  font-family: 'Source Code Pro', 'Noto Sans TC', Courier, monospace;
  font-weight: var(--font-weight-bold);
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
}

#single .tip {
  text-align: center;
  color: var(--color-dark);
  margin-top: 18px;
  font-size: 14px;
}

#single .tip .split {
  margin: 0 4px;
}

#single .content {
  margin-top: 36px;
}

#single .tags {
  margin-top: 24px;
}

#single .tags a {
  background: var(--color-lightest);
  color: var(--color-dark);

}

#single .tags a:hover {
  color: var(--color-special);
}


#archive {
  width: 80%;
  margin: 0 auto;
  padding: 0 24px;
}

#archive .total {
  font-size: 15px;
}

#archive .group {
  margin: 24px auto;
}

#archive .group .key {
  font-size: 20px;
  margin-bottom: 12px;
}

#archive .group .value {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}

#archive .group .value .date {
  display: inline-block;
  color: #999;
  min-width: 60px;
}

#archive .group .value .title {
  display: inline;
  font-size: 1.5em;
}

#archive .group .value .title a {
  color: var(--color-dark);
}

#archive .group .value .title a:hover {
  color: var(--color-special);
}

#archive .group .value .tags {
  display: inline;
  margin-left: 7px;
}

#archive .group .value .tags a {
  background: var(--color-lightest);
  color: var(--color-dark);
}

#archive .group .value .tags a:hover {
  color: var(--color-special);
}

/* taxonomy */
#tags {
  max-width: 80%;
  padding-top: 5%;
  text-align: center;
}

#tags .tags {
  display: inline-block;
}

@media (max-width: 700px) {
  #tags {
    margin: 0 auto 0 auto;
  }

  #tags .tags {
    display: inline-block;
    margin: 4px 5px;
  }
}

#tags .tags a {
  background: var(--color-lightest);
  color: var(--color-dark);
  font-size: 14px;
  margin: 1em;
}

#tags .tags a:hover {
  color: var(--color-special);
}

/* section page */
#section {
  max-width: 580px;
  margin: 48px auto 0 auto;
  padding: 0 12px;
}

/* 404 page */
#page-404 {
  max-width: 580px;
  margin: 0 auto;
  padding: 0 24px;
}

#page-404 .item {
  margin: 12px 0 0 0;
}

#page-404 .title {
  display: inline-block;
  color: var(--color-dark);
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  margin: 0;
  width: 80%;
}

#page-404 .text {
  text-align: center;
  margin-top: 60px;
}

#page-404 .read-more {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  margin-top: 48px;
  margin-bottom: 12px;
}

#page-404 .date {
  width: 20%;
  float: right;
  text-align: right;
  position: relative;
  top: 1px;
  color: #bbb;
}